<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login UI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="box">
            <h2>物联网应用网站</h2>
  <form method="get" action='/login' action='/main'>
    <div class="inputBox">
      <input type="text" name="user" required="">
      <label>Username</label>
    </div>
    <div class="inputBox">
		<input type="password" name="password" required="">
		<label>Password</label>
    </div>
      <input type="submit" name="" value="Login">
      </div>
      </form>

</body>
</html>
